<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="static/css/CSSInicioSesion.css">
  <title>Inicio de sesion</title>
</head>

<body>
  <form class="login" id="login-Form">
    <h2>Inicio de Sesión</h2>
    <input type="text" class="inputs" placeholder="Correo" id="usr" required>
    <input type="password" class="inputs" placeholder="Contraseña" id="psw" required>
    <button type="submit" class="btn btn-success">Iniciar Sesión</button>
    <a href="/registro"> registrar usuario</a>
  </form>


<script src="static/js/InicioSesion.js"></script>
</body>
</html>
